<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_articleMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_article" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="readingQuantity" property="readingquantity" jdbcType="INTEGER" />
    <result column="likeQuantity" property="likequantity" jdbcType="INTEGER" />
    <result column="collectionQuantity" property="collectionquantity" jdbcType="INTEGER" />
    <result column="shareQuantity" property="sharequantity" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="createUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="createDateTime" property="createdatetime" jdbcType="TIMESTAMP" />
    <result column="updateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="updateDateTime" property="updatedatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wolf.pojo.wl_article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, readingQuantity, likeQuantity, collectionQuantity, shareQuantity, status, 
    createUserId, createDateTime, updateUserId, updateDateTime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wl_article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_article" >
    insert into wl_article (id, title, readingQuantity, 
      likeQuantity, collectionQuantity, shareQuantity, 
      status, createUserId, createDateTime, 
      updateUserId, updateDateTime, content
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{readingquantity,jdbcType=INTEGER}, 
      #{likequantity,jdbcType=INTEGER}, #{collectionquantity,jdbcType=INTEGER}, #{sharequantity,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{createuserid,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, 
      #{updateuserid,jdbcType=VARCHAR}, #{updatedatetime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_article" >
    insert into wl_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="readingquantity != null" >
        readingQuantity,
      </if>
      <if test="likequantity != null" >
        likeQuantity,
      </if>
      <if test="collectionquantity != null" >
        collectionQuantity,
      </if>
      <if test="sharequantity != null" >
        shareQuantity,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createuserid != null" >
        createUserId,
      </if>
      <if test="createdatetime != null" >
        createDateTime,
      </if>
      <if test="updateuserid != null" >
        updateUserId,
      </if>
      <if test="updatedatetime != null" >
        updateDateTime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="readingquantity != null" >
        #{readingquantity,jdbcType=INTEGER},
      </if>
      <if test="likequantity != null" >
        #{likequantity,jdbcType=INTEGER},
      </if>
      <if test="collectionquantity != null" >
        #{collectionquantity,jdbcType=INTEGER},
      </if>
      <if test="sharequantity != null" >
        #{sharequantity,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedatetime != null" >
        #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_article" >
    update wl_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="readingquantity != null" >
        readingQuantity = #{readingquantity,jdbcType=INTEGER},
      </if>
      <if test="likequantity != null" >
        likeQuantity = #{likequantity,jdbcType=INTEGER},
      </if>
      <if test="collectionquantity != null" >
        collectionQuantity = #{collectionquantity,jdbcType=INTEGER},
      </if>
      <if test="sharequantity != null" >
        shareQuantity = #{sharequantity,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createuserid != null" >
        createUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        updateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedatetime != null" >
        updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wolf.pojo.wl_article" >
    update wl_article
    set title = #{title,jdbcType=VARCHAR},
      readingQuantity = #{readingquantity,jdbcType=INTEGER},
      likeQuantity = #{likequantity,jdbcType=INTEGER},
      collectionQuantity = #{collectionquantity,jdbcType=INTEGER},
      shareQuantity = #{sharequantity,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      createUserId = #{createuserid,jdbcType=VARCHAR},
      createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      updateUserId = #{updateuserid,jdbcType=VARCHAR},
      updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_article" >
    update wl_article
    set title = #{title,jdbcType=VARCHAR},
      readingQuantity = #{readingquantity,jdbcType=INTEGER},
      likeQuantity = #{likequantity,jdbcType=INTEGER},
      collectionQuantity = #{collectionquantity,jdbcType=INTEGER},
      shareQuantity = #{sharequantity,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      createUserId = #{createuserid,jdbcType=VARCHAR},
      createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      updateUserId = #{updateuserid,jdbcType=VARCHAR},
      updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>