<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_community_commentMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_community_comment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="communityId" property="communityid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="superiorId" property="superiorid" jdbcType="VARCHAR" />
    <result column="superiorUserId" property="superioruserid" jdbcType="VARCHAR" />
    <result column="likeCount" property="likecount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, communityId, userId, content, image, createTime, status, superiorId, superiorUserId, 
    likeCount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_community_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_community_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_community_comment" >
    insert into wl_community_comment (id, communityId, userId, 
      content, image, createTime, 
      status, superiorId, superiorUserId, 
      likeCount)
    values (#{id,jdbcType=VARCHAR}, #{communityid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{superiorid,jdbcType=VARCHAR}, #{superioruserid,jdbcType=VARCHAR}, 
      #{likecount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_community_comment" >
    insert into wl_community_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="communityid != null" >
        communityId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="superiorid != null" >
        superiorId,
      </if>
      <if test="superioruserid != null" >
        superiorUserId,
      </if>
      <if test="likecount != null" >
        likeCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="communityid != null" >
        #{communityid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="superiorid != null" >
        #{superiorid,jdbcType=VARCHAR},
      </if>
      <if test="superioruserid != null" >
        #{superioruserid,jdbcType=VARCHAR},
      </if>
      <if test="likecount != null" >
        #{likecount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_community_comment" >
    update wl_community_comment
    <set >
      <if test="communityid != null" >
        communityId = #{communityid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="superiorid != null" >
        superiorId = #{superiorid,jdbcType=VARCHAR},
      </if>
      <if test="superioruserid != null" >
        superiorUserId = #{superioruserid,jdbcType=VARCHAR},
      </if>
      <if test="likecount != null" >
        likeCount = #{likecount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_community_comment" >
    update wl_community_comment
    set communityId = #{communityid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      superiorId = #{superiorid,jdbcType=VARCHAR},
      superiorUserId = #{superioruserid,jdbcType=VARCHAR},
      likeCount = #{likecount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>