<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_community_commodityMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_community_commodity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="communityId" property="communityid" jdbcType="VARCHAR" />
    <result column="commodityId" property="commodityid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, communityId, commodityId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_community_commodity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_community_commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_community_commodity" >
    insert into wl_community_commodity (id, communityId, commodityId
      )
    values (#{id,jdbcType=VARCHAR}, #{communityid,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_community_commodity" >
    insert into wl_community_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="communityid != null" >
        communityId,
      </if>
      <if test="commodityid != null" >
        commodityId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="communityid != null" >
        #{communityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_community_commodity" >
    update wl_community_commodity
    <set >
      <if test="communityid != null" >
        communityId = #{communityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        commodityId = #{commodityid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_community_commodity" >
    update wl_community_commodity
    set communityId = #{communityid,jdbcType=VARCHAR},
      commodityId = #{commodityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>