<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_commodity_brand_tag_relMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_commodity_brand_tag_rel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="brandTagId" property="brandtagid" jdbcType="VARCHAR" />
    <result column="brandId" property="brandid" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createId" property="createid" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateId" property="updateid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brandTagId, brandId, createTime, createId, updateTime, updateId, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_commodity_brand_tag_rel
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_commodity_brand_tag_rel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_commodity_brand_tag_rel" >
    insert into wl_commodity_brand_tag_rel (id, brandTagId, brandId, 
      createTime, createId, updateTime, 
      updateId, status)
    values (#{id,jdbcType=VARCHAR}, #{brandtagid,jdbcType=VARCHAR}, #{brandid,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_commodity_brand_tag_rel" >
    insert into wl_commodity_brand_tag_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandtagid != null" >
        brandTagId,
      </if>
      <if test="brandid != null" >
        brandId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createid != null" >
        createId,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updateid != null" >
        updateId,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="brandtagid != null" >
        #{brandtagid,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        #{brandid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null" >
        #{updateid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_commodity_brand_tag_rel" >
    update wl_commodity_brand_tag_rel
    <set >
      <if test="brandtagid != null" >
        brandTagId = #{brandtagid,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        brandId = #{brandid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        createId = #{createid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null" >
        updateId = #{updateid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_commodity_brand_tag_rel" >
    update wl_commodity_brand_tag_rel
    set brandTagId = #{brandtagid,jdbcType=VARCHAR},
      brandId = #{brandid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createId = #{createid,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateId = #{updateid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>