<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_freight_discountMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_freight_discount" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="discountName" property="discountname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="productID" property="productid" jdbcType="VARCHAR" />
    <result column="productNum" property="productnum" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, discountName, type, productID, productNum, money, createTime, startTime, endTime, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_freight_discount
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_freight_discount
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_freight_discount" >
    insert into wl_freight_discount (id, discountName, type, 
      productID, productNum, money, 
      createTime, startTime, endTime, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{discountname,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{productid,jdbcType=VARCHAR}, #{productnum,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_freight_discount" >
    insert into wl_freight_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="discountname != null" >
        discountName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productid != null" >
        productID,
      </if>
      <if test="productnum != null" >
        productNum,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="discountname != null" >
        #{discountname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        #{productnum,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_freight_discount" >
    update wl_freight_discount
    <set >
      <if test="discountname != null" >
        discountName = #{discountname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        productNum = #{productnum,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_freight_discount" >
    update wl_freight_discount
    set discountName = #{discountname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      productID = #{productid,jdbcType=VARCHAR},
      productNum = #{productnum,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>