<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_proxy_user_shoppingMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_proxy_user_shopping" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="commodityId" property="commodityid" jdbcType="VARCHAR" />
    <result column="inventoryId" property="inventoryid" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="proxyId" property="proxyid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, commodityId, inventoryId, createTime, quantity, proxyId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_proxy_user_shopping
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_proxy_user_shopping
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_proxy_user_shopping" >
    insert into wl_proxy_user_shopping (id, userId, commodityId, 
      inventoryId, createTime, quantity, 
      proxyId)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}, 
      #{inventoryid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{quantity,jdbcType=INTEGER}, 
      #{proxyid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_proxy_user_shopping" >
    insert into wl_proxy_user_shopping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="commodityid != null" >
        commodityId,
      </if>
      <if test="inventoryid != null" >
        inventoryId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="proxyid != null" >
        proxyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="inventoryid != null" >
        #{inventoryid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="proxyid != null" >
        #{proxyid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_proxy_user_shopping" >
    update wl_proxy_user_shopping
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        commodityId = #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="inventoryid != null" >
        inventoryId = #{inventoryid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="proxyid != null" >
        proxyId = #{proxyid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_proxy_user_shopping" >
    update wl_proxy_user_shopping
    set userId = #{userid,jdbcType=VARCHAR},
      commodityId = #{commodityid,jdbcType=VARCHAR},
      inventoryId = #{inventoryid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      proxyId = #{proxyid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>