<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_rechargeMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_recharge" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="rechargeNo" property="rechargeno" jdbcType="VARCHAR" />
    <result column="rechargeMoney" property="rechargemoney" jdbcType="INTEGER" />
    <result column="payMoney" property="paymoney" jdbcType="INTEGER" />
    <result column="useIntegralTotal" property="useintegraltotal" jdbcType="INTEGER" />
    <result column="rechargeType" property="rechargetype" jdbcType="INTEGER" />
    <result column="rechargeTime" property="rechargetime" jdbcType="TIMESTAMP" />
    <result column="rechargeDiscount" property="rechargediscount" jdbcType="INTEGER" />
    <result column="payDocument" property="paydocument" jdbcType="VARCHAR" />
    <result column="outTradeNo" property="outtradeno" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channel, userId, rechargeNo, rechargeMoney, payMoney, useIntegralTotal, rechargeType, 
    rechargeTime, rechargeDiscount, payDocument, outTradeNo, createTime, updateTime, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_recharge
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_recharge
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_recharge" >
    insert into wl_recharge (id, channel, userId, 
      rechargeNo, rechargeMoney, payMoney, 
      useIntegralTotal, rechargeType, rechargeTime, 
      rechargeDiscount, payDocument, outTradeNo, 
      createTime, updateTime, status
      )
    values (#{id,jdbcType=VARCHAR}, #{channel,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, 
      #{rechargeno,jdbcType=VARCHAR}, #{rechargemoney,jdbcType=INTEGER}, #{paymoney,jdbcType=INTEGER}, 
      #{useintegraltotal,jdbcType=INTEGER}, #{rechargetype,jdbcType=INTEGER}, #{rechargetime,jdbcType=TIMESTAMP}, 
      #{rechargediscount,jdbcType=INTEGER}, #{paydocument,jdbcType=VARCHAR}, #{outtradeno,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_recharge" >
    insert into wl_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="rechargeno != null" >
        rechargeNo,
      </if>
      <if test="rechargemoney != null" >
        rechargeMoney,
      </if>
      <if test="paymoney != null" >
        payMoney,
      </if>
      <if test="useintegraltotal != null" >
        useIntegralTotal,
      </if>
      <if test="rechargetype != null" >
        rechargeType,
      </if>
      <if test="rechargetime != null" >
        rechargeTime,
      </if>
      <if test="rechargediscount != null" >
        rechargeDiscount,
      </if>
      <if test="paydocument != null" >
        payDocument,
      </if>
      <if test="outtradeno != null" >
        outTradeNo,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="rechargeno != null" >
        #{rechargeno,jdbcType=VARCHAR},
      </if>
      <if test="rechargemoney != null" >
        #{rechargemoney,jdbcType=INTEGER},
      </if>
      <if test="paymoney != null" >
        #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="useintegraltotal != null" >
        #{useintegraltotal,jdbcType=INTEGER},
      </if>
      <if test="rechargetype != null" >
        #{rechargetype,jdbcType=INTEGER},
      </if>
      <if test="rechargetime != null" >
        #{rechargetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargediscount != null" >
        #{rechargediscount,jdbcType=INTEGER},
      </if>
      <if test="paydocument != null" >
        #{paydocument,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null" >
        #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_recharge" >
    update wl_recharge
    <set >
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="rechargeno != null" >
        rechargeNo = #{rechargeno,jdbcType=VARCHAR},
      </if>
      <if test="rechargemoney != null" >
        rechargeMoney = #{rechargemoney,jdbcType=INTEGER},
      </if>
      <if test="paymoney != null" >
        payMoney = #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="useintegraltotal != null" >
        useIntegralTotal = #{useintegraltotal,jdbcType=INTEGER},
      </if>
      <if test="rechargetype != null" >
        rechargeType = #{rechargetype,jdbcType=INTEGER},
      </if>
      <if test="rechargetime != null" >
        rechargeTime = #{rechargetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargediscount != null" >
        rechargeDiscount = #{rechargediscount,jdbcType=INTEGER},
      </if>
      <if test="paydocument != null" >
        payDocument = #{paydocument,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null" >
        outTradeNo = #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_recharge" >
    update wl_recharge
    set channel = #{channel,jdbcType=INTEGER},
      userId = #{userid,jdbcType=VARCHAR},
      rechargeNo = #{rechargeno,jdbcType=VARCHAR},
      rechargeMoney = #{rechargemoney,jdbcType=INTEGER},
      payMoney = #{paymoney,jdbcType=INTEGER},
      useIntegralTotal = #{useintegraltotal,jdbcType=INTEGER},
      rechargeType = #{rechargetype,jdbcType=INTEGER},
      rechargeTime = #{rechargetime,jdbcType=TIMESTAMP},
      rechargeDiscount = #{rechargediscount,jdbcType=INTEGER},
      payDocument = #{paydocument,jdbcType=VARCHAR},
      outTradeNo = #{outtradeno,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>