<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_sms_codeMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_sms_code" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="codeType" property="codetype" jdbcType="BIT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="expiryTime" property="expirytime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, codeType, code, createTime, expiryTime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wl_sms_code
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_sms_code
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_sms_code" >
    insert into wl_sms_code (id, phone, codeType, 
      code, createTime, expiryTime, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{codetype,jdbcType=BIT}, 
      #{code,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{expirytime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_sms_code" >
    insert into wl_sms_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="codetype != null" >
        codeType,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="expirytime != null" >
        expiryTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="codetype != null" >
        #{codetype,jdbcType=BIT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expirytime != null" >
        #{expirytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_sms_code" >
    update wl_sms_code
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="codetype != null" >
        codeType = #{codetype,jdbcType=BIT},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expirytime != null" >
        expiryTime = #{expirytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_sms_code" >
    update wl_sms_code
    set phone = #{phone,jdbcType=VARCHAR},
      codeType = #{codetype,jdbcType=BIT},
      code = #{code,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      expiryTime = #{expirytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>