<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolf.repository.wl_sys_configurationMapper" >
  <resultMap id="BaseResultMap" type="com.wolf.pojo.wl_sys_configuration" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="confKey" property="confkey" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="createUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="createDateTime" property="createdatetime" jdbcType="TIMESTAMP" />
    <result column="updateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="updateDateTime" property="updatedatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wolf.pojo.wl_sys_configuration" extends="BaseResultMap" >
    <result column="value" property="value" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, confKey, status, createUserId, createDateTime, updateUserId, updateDateTime
  </sql>
  <sql id="Blob_Column_List" >
    value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wl_sys_configuration
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wl_sys_configuration
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wolf.pojo.wl_sys_configuration" >
    insert into wl_sys_configuration (id, name, type, 
      confKey, status, createUserId, 
      createDateTime, updateUserId, updateDateTime, 
      value)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{confkey,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{createuserid,jdbcType=VARCHAR}, 
      #{createdatetime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{updatedatetime,jdbcType=TIMESTAMP}, 
      #{value,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wolf.pojo.wl_sys_configuration" >
    insert into wl_sys_configuration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="confkey != null" >
        confKey,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createuserid != null" >
        createUserId,
      </if>
      <if test="createdatetime != null" >
        createDateTime,
      </if>
      <if test="updateuserid != null" >
        updateUserId,
      </if>
      <if test="updatedatetime != null" >
        updateDateTime,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="confkey != null" >
        #{confkey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedatetime != null" >
        #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null" >
        #{value,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wolf.pojo.wl_sys_configuration" >
    update wl_sys_configuration
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="confkey != null" >
        confKey = #{confkey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createuserid != null" >
        createUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        updateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedatetime != null" >
        updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wolf.pojo.wl_sys_configuration" >
    update wl_sys_configuration
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      confKey = #{confkey,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      createUserId = #{createuserid,jdbcType=VARCHAR},
      createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      updateUserId = #{updateuserid,jdbcType=VARCHAR},
      updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
      value = #{value,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wolf.pojo.wl_sys_configuration" >
    update wl_sys_configuration
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      confKey = #{confkey,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      createUserId = #{createuserid,jdbcType=VARCHAR},
      createDateTime = #{createdatetime,jdbcType=TIMESTAMP},
      updateUserId = #{updateuserid,jdbcType=VARCHAR},
      updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>